@charset "UTF-8";
body{
    background-image: linear-gradient(to right, #acced6, #d1d7db);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #3292ec75;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #18476e;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

ul{
    padding-left: 50px;
}

ul li {
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 3px solid #00000a;
}

th, td {
    padding: 12px;
    text-align: center;
}

a:hover {
    color: #ac4704;
}

button {
    background-color: wheat;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}